<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.UserMapper">
       <select id="selectAdminByUsernameAndPassword" parameterType="com.qf.pojo.User" resultType="com.qf.pojo.User">
        select * from user
        where
        email = #{email}
        and
        password = #{password}
       </select>
    <select id="selectUserByEmail" parameterType="String" resultType="com.qf.pojo.User">
        select * from user
        where email =#{email}
    </select>
    <!--updateUser-->

    <update id="updateUser" parameterType="com.qf.pojo.User">
        UPDATE user SET
        email = #{email},
        phoneNum = #{phoneNum},
        password = #{password},
        code = #{code},
        nickName = #{nickName},
        sex = #{sex},
        birthday = #{birthday},
        address = #{address},
        imgUrl = #{imgUrl},
        createTime = #{createTime}
        WHERE
        id = #{id};
    </update>
    <insert id="insertUser" parameterType="com.qf.pojo.User">
          insert into user (email,password,createTime)
        values (#{email},#{password},#{createTime})
    </insert>
</mapper>