<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans

        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

      <context:component-scan base-package="com.qf.service"/>

      <context:property-placeholder location="classpath:jdbc.properties"/>
      <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
          <property name="url" value="${jdbc.url}"/>
          <property name="driverClassName" value="${jdbc.driverClassName}"/>
          <property name="password" value="${jdbc.password}"/>
          <property name="username" value="${jdbc.username}"/>
      </bean>

      <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactoryBean">
          <property name="dataSource" ref="dataSource"/>
          <property name="plugins">
              <set>
                  <bean class="com.github.pagehelper.PageInterceptor">
                      <property name="properties">
                          <props>
                              <prop key="helperDialect">mysql</prop>
                              <prop key="reasonable">true</prop>
                              <prop key="supportMethodsArguments">true</prop>
                          </props>
                      </property>
                  </bean>
              </set>
          </property>
      </bean>

      <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" id="mapperScannerConfigurer">
          <property name="basePackage" value="com.qf.dao"/>
      </bean>

<!--      <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">-->
<!--          <property name="dataSource" ref="dataSource"/>-->
<!--      </bean>-->

<!--      <tx:advice transaction-manager="transactionManager" id="txAdvice">-->
<!--          <tx:attributes>-->
<!--              <tx:method name="find*" propagation="REQUIRED" isolation="DEFAULT" read-only="true"/>-->
<!--          </tx:attributes>-->
<!--      </tx:advice>-->

<!--      <aop:config>-->
<!--         <aop:advisor advice-ref="txAdvice" pointcut="execution(* com.qf.service.impl.*ServiceImpl.*(..))"/>-->
<!--      </aop:config>-->


</beans>